@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,300;0,400;1,100&family=Inter:wght@300;400;600;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&family=Titillium+Web:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,300;0,400;1,100&family=Bellefair&family=Inter:wght@300;400;600;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,400;1,600&display=swap');

body {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
  position: absolute;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: 'Barlow', sans-serif;
}

.nav-container a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.nav-container a:hover {
  border-bottom: white solid 2px;
  font-size: 16px;
  transition: all ease-in 0.4s;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 30px;
}
.links-container {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  backdrop-filter: blur(40.7742px);
  width: 60vw;
  height: 90px;
  left: 610px;
  top: 40px;
}
#nav-links {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  margin-left: 100px;
  text-transform: uppercase;
}

#section {
  width: 100vw;
  display: inline-block;
  height: 100vh;
}
.tech-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
}
.tech-div {
  width: 650px;
  margin-left: 50px;
  display: block;
  align-self: center;
  justify-content: center;
}

#first-line {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  padding-bottom: 80px;
  text-transform: uppercase;
}
#first-line span {
  font-weight: 700;
  opacity: 0.25;
  padding: 5px;
}
#terminology {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  margin: 0;
  font-family: 'Bellefair', serif;
}
#name {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Bellefair', serif;
}
#name h1 {
  margin: 0;
}
#paragraph p {
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
#image-div {
  align-items: center;
}
#image-div img {
  height: 500px;
  width: 500px;
  padding: 0;
}
